%p
= button_to "Create Blog", new_blog_path, :method => "get"
%br/
%h1 Blogs List
%table
  %thead
    %tr
      %th Title
      %th Caption
      %th Description
      %th Categories
      %th{:colspan => 4}
  %tbody
    - @blogs.each do |blog|
      %tr
        %td= blog.title
        %td= blog.caption
        %td= blog.description
        %td
          - blog.categories.each do |cat|
            =cat.name 

        - if blog.is_draft == true
          %td
            = button_to 'Edit', edit_blog_path(blog), :method => "get", :id => "edit#{blog.id}"
          %td
            %button{id: "#{blog.id}", :class => "live_button"} Live
        - else
          %td
            - if blog.is_archived?
              %button{id: "#{blog.id}", :class => "archive_button"} Archived
            -else
              %button{id: "#{blog.id}", :class => "archive_button"} Archive

%br/
= will_paginate @blogs